// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container {
  display: flex;
}

.letter {
  margin: 10px 10px;
  color: white;
  font-size: 40px;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: center;
  font-weight: bold;
  background: #6AD58B;
  border: 2px solid grey;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

form {
  width: 100%;
  margin-bottom: 30px;
}

form input {
  width: 350px;
  height: 32px;
  line-height: 32px;
  font-size: 20px;
  padding: 0 10px;
  border-radius: 2px;
  border: 1px solid gray;
}

.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #6AD58B;
  transition: background 0.3s ease;
}
.btn-treehouse:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}

.form-group {
  margin: 0 10px;
}
